*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .css-dev-only-do-not-override-1ck3jst{
  border: none !important;
  
}

.ant-input-affix-wrapper, .ant-input-group-addon, .ant-input, .ant-input-affix-wrapper-focused{
  background-color: transparent !important;
  border: none;
}

.ant-input-wrapper{
  border: 1px solid white;
  border-radius: 10px;
}

.ant-input-affix-wrapper {
  height: 38px !important;
}

.ant-input {
  color: white;
  font-size: 15px !important;
}

::placeholder {
  color: white !important; 
}

.ant-btn {
  color: white !important;
  background-color: transparent;
  border: none;
  width: 100%;
}

.ant-dropdown-open{
  /* color: red !important; */
}

